body{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 100px auto auto 50px;
    grid-gap: 5px;
    grid-template-areas: 
    "header"
    "nav"
    "main" 
    "aside"
    "footer";
}

header{
    grid-area:header;
    background-color: aqua;
}

header h1{
    text-align: center;
    font-size: x-large;
}

nav{
    grid-area: nav;
    background-color: cadetblue;
}

nav>ul{
    list-style-type: none;
    padding:0;
    margin:0;
    height:100%;
}

nav li{
    border:1px solid black;
    text-align: center;
    height:23%;
    line-height: 1.5;
}

nav a{
    text-decoration: none;
    
}

main{
    grid-area: main;
    background-color: coral;
    padding:10px;
}

aside{
    grid-area:aside;
    background-color: darkblue;
    color:wheat;
    padding:10px;
}

footer{
    grid-area:footer;
    text-align: center;
    background-color: bisque;
}

@media screen and (min-width:576px){
    body{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 50px 50px auto 50px;
        grid-template-areas: 
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    }

    nav>ul{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height:100%;
    }

    nav li{
        display: grid;
        font-size: larger;
        height:95%;
        line-height: 2;
    }
}

@media screen and (min-width:980px){
    body{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 50px auto 50px;
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer";
    }
    main{
        display:grid;
        grid-template-columns: 2fr 1fr;
        grid-gap:10px;
        grid-template-areas:
        "s1 s2";
    }
    .s1{
        grid-area: s1;
    }

    .s2{
        grid-area: s2;
    }
}